In [1]:
%run parks.ipynb
%run police_arrests.ipynb
%run household_income.ipynb

In [2]:
one =   pd.DataFrame(parks_freq_table)
two = pd.DataFrame(police_freq_table)

In [3]:
del pgh_aggregate_income ['Margin of Error; Aggregate household income in the past 12 months (in 2015 Inflation-adjusted dollars)']
del pgh_aggregate_income ['Id']

In [4]:
three = pgh_aggregate_income

In [5]:
three

                           Estimate; Aggregate household income in the past 12 months (in 2015 Inflation-adjusted dollars)
Neighborhood
Squirrel Hill South                                              659886300.0
Shadyside                                                        605635700.0
Squirrel Hill North                                              577467500.0
Brookline                                                        366945900.0
Point Breeze                                                     314958500.0
Mount Washington                                                 267100700.0
Bloomfield                                                       249898900.0
Highland Park                                                    242405400.0
Greenfield                                                       241377900.0
South Side Flats                                                 233098400.0
Carrick                                                          221221100.0
Central Business District                                        210460000.0
Brighton Heights                                                 201692800.0
Beechview                                                        193055900.0
Central Lawrenceville                                            144917900.0
Banksville                                                       138084700.0
Stanton Heights                                                  134047100.0
South Side Slopes                                                123648400.0
North Oakland                                                    123408700.0
East Liberty                                                     115711700.0

In [6]:
combine = pd.DataFrame()

In [7]:
combine.insert(loc=0, column='Park Numbers', value=one['neighborhood'])

In [8]:
combine.insert(loc=0, column='Police Incidents', value=two['INCIDENTNEIGHBORHOOD'])

In [9]:
combine

                       Police Incidents  Park Numbers
Squirrel Hill South                 502             8
Beechview                           770             5
South Side Slopes                   506             5
Allegheny Center                    756             4
Highland Park                       328             4
...                                 ...           ...
Spring Hill-City View               459             1
Central Lawrenceville               296             1
Middle Hill                         615             1
West Oakland                        190             1
Westwood                            135             1

[67 rows x 2 columns]

In [10]:
combine.insert(loc=0, column='Income', value=three['Estimate; Aggregate household income in the past 12 months (in 2015 Inflation-adjusted dollars)'])

In [11]:
combine

                            Income  Police Incidents  Park Numbers
Squirrel Hill South    659886300.0               502             8
Beechview              193055900.0               770             5
South Side Slopes      123648400.0               506             5
Allegheny Center               NaN               756             4
Highland Park          242405400.0               328             4
...                            ...               ...           ...
Spring Hill-City View          NaN               459             1
Central Lawrenceville  144917900.0               296             1
Middle Hill                    NaN               615             1
West Oakland                   NaN               190             1
Westwood                       NaN               135             1

[67 rows x 3 columns]

In [19]:
table =combine['Income'] * (combine['Park Numbers']*10) / combine['Police Incidents']

In [15]:
table

Squirrel Hill South      1.051612e+07
Beechview                1.253610e+06
South Side Slopes        1.221822e+06
Allegheny Center                  NaN
Highland Park            2.956163e+06
                             ...
Spring Hill-City View             NaN
Central Lawrenceville    4.895875e+05
Middle Hill                       NaN
West Oakland                      NaN
Westwood                          NaN
Length: 67, dtype: float64

In [18]:
table.sort_values(ascending=False)

Squirrel Hill South      1.051612e+07
Squirrel Hill North      3.281065e+06
Highland Park            2.956163e+06
Greenfield               1.547294e+06
Beechview                1.253610e+06
                             ...
East Carnegie                     NaN
Spring Hill-City View             NaN
Middle Hill                       NaN
West Oakland                      NaN
Westwood                          NaN
Length: 67, dtype: float64